.nav-bar {
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    height: 65px;
}

.nav-back {
    background-color: #17252A;
}

.logo {
    margin: auto 10px;
    padding: 0 10px;
    font-family: "Kranky", serif;
    color: #EDF4F2;
}

li {
    list-style: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    margin: auto 20px;
}

.nav-list>li {
    margin: auto 20px;
    font-size: 15px;
}

li>a {
    text-decoration: none;
    color: #EDF4F2;
}

.active{
    color:maroon;
    text-decoration: underline;
    font-weight: bold;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none; 
}

@media (max-width: 850px) {
    .menu-btn {
        display: block;
        background: transparent;
    }

    .nav-links {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #5b478b;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 105;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu {
        transform: translateY(0);
    }

    .nav-links li {
        padding: 20px 0;
        text-align: center;
    }
}
